h1 {
  color: rgba(0, 200, 100, 0.8);
  /*border-color: purple;
  border-width: 5px;
  border-style: solid;*/

  border: 2px solid rgb(255, 100, 80)
}

/*width
border
style*/
h4 {
  background: rgb(255, 100, 80);
}

body {
  background: pink;
/*  background: url(https://images.pexels.com/photos/370799/pexels-photo-370799.jpeg?auto=compress&cs=tinysrgb&h=350);
  background-repeat: no-repeat;
  background-size: cover;*/
}
