body{
  background: #eee;
}

.wrapper {
  background: #fff;
  max-width:800px;
  margin:0 auto;
  padding: 20px;
}

.wrapper:after: {
  content: "";
  display: blaock;
  clear:both;
}

img {
  float: left;
  margin: 10px;
}
